@model FitnessClubManagementSystem.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.club.clubStAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.club.clubStAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.joinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.joinDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.employeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
