@model IEnumerable<FitnessClubManagementSystem.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employees Record</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.club.clubStAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joinDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.club.clubStAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.joinDate)*@
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.joinDate))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.employeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employeeID })
        </td>
    </tr>
}

</table>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>