@model IEnumerable<FitnessClubManagementSystem.Models.Club>

@{
    ViewBag.Title = "Clubs Record";
}

<h2>Clubs Record</h2>

<p>
    @Html.ActionLink("Add new Club", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.clubStAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clubCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clubProvince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clubPostal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.clubStAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clubCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clubProvince)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clubPostal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.clubId }) |
            @Html.ActionLink("Details", "Details", new { id=item.clubId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.clubId })
        </td>
    </tr>
}

</table>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>