@model IEnumerable<FitnessClubManagementSystem.Models.MembershipPackages>

@{
    ViewBag.Title = "Membership Packages Record";
}

<h2>Membership Packages Record</h2>

<p>
    @Html.ActionLink("Add new Package.", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.packageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.packageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.packageId })
        </td>
    </tr>
}

</table>


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>