@model FitnessClubManagementSystem.Models.Slots

@{
    ViewBag.Title = "SlotNotification";
}

<h2>SlotNotification</h2>

<div>
    <h4>Slots</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clubId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clubId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slotTimeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slotTimeID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.slotId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
